/*
.timehammer-loading-fade {
    opacity: 0.6;
    filter: alpha(opacity=20);
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}
*/

.timehammer-loading-fade {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.timehammer-loading-fade:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.timehammer-loading-fade.show {
}

.timehammer-loading-fade.hide {
    display: none;
}

.timehammer-loading-fade .spinner {
    color: #ffc107;
}