.toolbar {
    font-size: 1.4rem;
}

.copy-paste-tools {
    cursor: pointer;
}

.copy-paste-tools.copied {
    color: orange;
}

.copy-paste-tools.paste {
    color: lightgreen;
}

.lunch-optional {
    cursor: pointer;
}

.lunch-optional.disabled {
    color: red!important;
}